@font-face {
    font-family: 'PressGothic';
    src: url('../fontes/2651-font.otf') format('opentype');
}

@font-face {
    font-family: 'din1451';
    src: url('../fontes/DINMittelschriftStd.ttf') format('truetype'),
         url('../fontes/DINMittelschriftStd.woff') format('woff');
}